h1 {
}

a.active {
    font-weight: bold;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

.contentBox {
    box-shadow: 0px 0px 5px 5px #999;
}

.menuPanel a {
    display: block;
    padding: 1em;
    border-bottom: 0 1px 1px 1px solid #bbb;
    background: #ddd;
}

.menuPanel a.active {
    background: white;
    border-right: 0;
}

#loading-panel {
    height: 100%;
}

#login-panel {
    margin: 5em auto;
}