h1 {
}

a.active {
    font-weight: bold;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

.contentBox {
    box-shadow: 0px 0px 5px 5px #999;
}

.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

#loading-panel {
    height: 100%;
}

#login-panel {
    margin: 5em auto;
}