<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <!-- Servlets -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.jboss.set.mjolnir.server.service.LoginServiceImpl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/mjolnir/LoginService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GitHubServlet</servlet-name>
        <servlet-class>org.jboss.set.mjolnir.server.service.GitHubServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GitHubServlet</servlet-name>
        <url-pattern>/mjolnir/auth/GitHubService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdministrationServlet</servlet-name>
        <servlet-class>org.jboss.set.mjolnir.server.service.AdministrationServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdministrationServlet</servlet-name>
        <url-pattern>/mjolnir/auth/AdministrationService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportingServlet</servlet-name>
        <servlet-class>org.jboss.set.mjolnir.server.service.ReportingServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReportingServlet</servlet-name>
        <url-pattern>/mjolnir/auth/ReportingService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xsrf</servlet-name>
        <servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xsrf</servlet-name>
        <url-pattern>/mjolnir/xsrf</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>gwt.xsrf.session_cookie_name</param-name>
        <param-value>JSESSIONID</param-value>
    </context-param>


    <!-- Security Filter -->

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.jboss.set.mjolnir.server.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/mjolnir/auth/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!-- Index file -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>

