<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- The LoginService servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.jboss.mjolnir.server.LoginServiceImpl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/mjolnir/LoginService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GitHubServlet</servlet-name>
        <servlet-class>org.jboss.mjolnir.server.GitHubServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GitHubServlet</servlet-name>
        <url-pattern>/mjolnir/GitHubService</url-pattern>
    </servlet-mapping>

    <!-- Security -->
    <servlet>
        <servlet-name>xsrf</servlet-name>
        <servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.jboss.mjolnir.server.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
        <!--<url-pattern>/*</url-pattern> &lt;!&ndash; either url-pattern or servlet-name is mandatory &ndash;&gt;-->
        <servlet-name>GitHubServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <!--<listener>
        <listener-class>org.jboss.mjolnir.server.CacheContextListener</listener-class>
    </listener>-->

    <servlet-mapping>
        <servlet-name>xsrf</servlet-name>
        <url-pattern>/mjolnir/xsrf</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>gwt.xsrf.session_cookie_name</param-name>
        <param-value>JSESSIONID</param-value>
    </context-param>

    <env-entry>
        <env-entry-name>INFINISPAN_STORE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/tmp/infinispan.store</env-entry-value>
    </env-entry>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>

